# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = julibnk
  email = fernandezfernandezjulian@gmail.com

[init]
  defaultBranch = main

[code]
  editor = nvim 

[delta]
  navigate = true
  side-by-side = true

[core]
  pager = delta

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
